<h1>New Recipe</h1>

<%= form_for @recipe do |f| %>
    <%= f.label :title%>
    <%= f.text_field :title%>

    <%= f.label :user_id %>
    <%= f.collection_select :user_id, @users, :id, :user_name %>

    <%= f.fields_for :ingredients do |ingredient_form|%>
        <%= ingredient_form.label :ingredient%>
        <%= ingredient_form.text_area :ingredient_name, rows: 5, column: 50%>
    <%end%>

    <%= f.submit%>
<% end %>